@{
    ViewData["Title"] = "Admin Panel";
}
<div class="text-center">
    <p>Welcome to the admin panel, follow any of the links to their respecitive database management tools.</p>
</div>

<ul class="">
    <li class="">
        <a class="" asp-area="" asp-controller="Reservations" asp-action="Index">Reservations Explorer</a>
    </li>
    <li class="">
        <a class="" asp-area="" asp-controller="People" asp-action="Index">People Explorer</a>
    </li>
    <li class="">
        <a class="" asp-area="" asp-controller="Rooms" asp-action="Index">Rooms Explorer</a>
    </li>
    <li class="">
        <a class="" asp-area="" asp-controller="RoomStyles" asp-action="Index">Room Styles Explorer</a>
    </li>
</ul>