@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1 list-group-item bg-light font-weight-bold">Caldwell Hotels</h1>
    <div class="d-flex flex-row">
        <div class="p-4 text-left">
            <p style="text-indent:30px">
                Vulputate odio ut enim blandit volutpat maecenas. Lectus vestibulum mattis ullamcorper velit sed ullamcorper.
                Urna porttitor rhoncus dolor purus. Velit euismod in pellentesque massa placerat duis. Magna fringilla urna
                porttitor rhoncus dolor purus. Viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor. Accumsan
                sit amet nulla facilisi morbi. Venenatis cras sed felis eget velit aliquet sagittis id consectetur. Vel orci
                porta non pulvinar. Ac turpis egestas sed tempus urna et. Et ultrices neque ornare aenean. Egestas diam in arcu
                cursus euismod quis. Ultrices mi tempus imperdiet nulla malesuada pellentesque elit. Pharetra et ultrices neque
                ornare aenean euismod elementum. Tincidunt eget nullam non nisi est sit. Suspendisse sed nisi lacus sed viverra
                tellus. Et malesuada fames ac turpis egestas integer eget aliquet. Aliquam ut porttitor leo a.
            </p>
        </div>
        <div class="p-4">
        </div>
        <div class="p-4">
            <!--//Image courtesy of https://www.shutterstock.com/image-photo/young-chef-couple-cooking-modern-restaurant-1690531333, Retrieved on 2020/10/22 -->
            <img src="https://image.shutterstock.com/image-photo/young-chef-couple-cooking-modern-600w-1690531333.jpg" alt="Chefs in a pristine environment" />
        </div>

    </div>
    <div class="d-flex flex-row">
        <div class="p-2">
            <!-- //Image courtesy of https://www.shutterstock.com/image-photo/real-estate-luxury-interior-exterior-design-660324757, Retrieved on 2020/10/22 -->
            <img src="https://image.shutterstock.com/image-photo/real-estate-luxury-interior-exterior-600w-660324757.jpg" alt="Wooden patio by pool" />
        </div>
                <div class="p-2">
                    <p style="text-indent:30px">
                        Id porta nibh venenatis cras sed felis eget velit. Donec pretium vulputate sapien nec sagittis aliquam malesuada.
                        Enim sit amet venenatis urna cursus eget. Sed viverra tellus in hac habitasse platea.
                        Egestas maecenas pharetra convallis posuere. Elit scelerisque mauris pellentesque pulvinar
                        pellentesque habitant morbi tristique. Faucibus ornare suspendisse sed nisi lacus. Tincidunt lobortis feugiat
                        vivamus at augue eget arcu dictum. Quisque non tellus orci ac auctor augue. Lobortis feugiat vivamus at augue.
                        Aliquet bibendum enim facilisis gravida. Semper auctor neque vitae tempus quam pellentesque nec. Velit scelerisque
                        in dictum non consectetur. Id diam vel quam elementum pulvinar. Donec ac odio tempor orci dapibus. Ultrices in
                        iaculis nunc sed augue lacus viverra vitae. Ligula ullamcorper malesuada proin libero nunc consequat interdum
                        varius. A diam sollicitudin tempor id eu nisl nunc mi. Sit amet commodo nulla facilisi nullam vehicula ipsum a.
                    </p>
                </div>

            </div>
        </div>

