@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

@* //Text Sourced from https://loremipsum.io/generator/?n=5&t=p *@


<p style="text-indent:30px">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pharetra massa massa ultricies mi quis hendrerit dolor magna. Dui faucibus in ornare quam viverra orci sagittis. Habitant morbi tristique senectus et netus et malesuada fames ac. Nisi lacus sed viverra tellus in hac habitasse. Praesent elementum facilisis leo vel fringilla est ullamcorper. Dignissim convallis aenean et tortor at risus viverra. Aliquam malesuada bibendum arcu vitae elementum curabitur vitae nunc sed. Ultricies lacus sed turpis tincidunt id aliquet risus feugiat. Ornare aenean euismod elementum nisi quis eleifend quam adipiscing. Pellentesque eu tincidunt tortor aliquam. Ut eu sem integer vitae justo eget magna fermentum. Vitae et leo duis ut diam quam.
</p>

<p style="text-indent:30px">
    Vulputate odio ut enim blandit volutpat maecenas. Lectus vestibulum mattis ullamcorper velit sed ullamcorper. Urna porttitor rhoncus dolor purus. Velit euismod in pellentesque massa placerat duis. Magna fringilla urna porttitor rhoncus dolor purus. Viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor. Accumsan sit amet nulla facilisi morbi. Venenatis cras sed felis eget velit aliquet sagittis id consectetur. Vel orci porta non pulvinar. Ac turpis egestas sed tempus urna et. Et ultrices neque ornare aenean. Egestas diam in arcu cursus euismod quis. Ultrices mi tempus imperdiet nulla malesuada pellentesque elit. Pharetra et ultrices neque ornare aenean euismod elementum. Tincidunt eget nullam non nisi est sit. Suspendisse sed nisi lacus sed viverra tellus. Et malesuada fames ac turpis egestas integer eget aliquet. Aliquam ut porttitor leo a.
</p>

<p style="text-indent:30px">
    Pretium vulputate sapien nec sagittis aliquam malesuada bibendum. Nibh sit amet commodo nulla facilisi. Enim nec dui nunc mattis enim ut. Nec dui nunc mattis enim ut tellus elementum sagittis vitae. Sed pulvinar proin gravida hendrerit lectus a. Non quam lacus suspendisse faucibus interdum posuere. Commodo odio aenean sed adipiscing diam donec. Faucibus ornare suspendisse sed nisi lacus sed viverra tellus in. Ut tortor pretium viverra suspendisse potenti nullam ac tortor vitae. Consectetur adipiscing elit pellentesque habitant morbi tristique senectus et. Sagittis aliquam malesuada bibendum arcu vitae elementum curabitur vitae nunc. Mi sit amet mauris commodo quis imperdiet massa tincidunt nunc. Sagittis vitae et leo duis ut diam quam. Ac orci phasellus egestas tellus rutrum tellus pellentesque. Auctor elit sed vulputate mi sit amet mauris commodo. Enim facilisis gravida neque convallis a cras. Leo duis ut diam quam nulla porttitor massa id. Justo donec enim diam vulputate ut pharetra sit amet. Libero enim sed faucibus turpis in eu. Magna fringilla urna porttitor rhoncus dolor purus non enim.
</p>

<p style="text-indent:30px">
    Ante metus dictum at tempor. Eget duis at tellus at urna condimentum mattis. Commodo odio aenean sed adipiscing diam donec. Lobortis feugiat vivamus at augue eget. Est lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque. In metus vulputate eu scelerisque felis imperdiet proin. Amet luctus venenatis lectus magna. Ultrices sagittis orci a scelerisque. Nibh tellus molestie nunc non blandit massa enim. Lectus urna duis convallis convallis tellus id. Mi in nulla posuere sollicitudin aliquam ultrices. Elit duis tristique sollicitudin nibh sit amet commodo nulla facilisi.
</p>

<p style="text-indent:30px">
    Id porta nibh venenatis cras sed felis eget velit. Donec pretium vulputate sapien nec sagittis aliquam malesuada. Enim sit amet venenatis urna cursus eget. Sed viverra tellus in hac habitasse platea. Egestas maecenas pharetra convallis posuere. Elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique. Faucibus ornare suspendisse sed nisi lacus. Tincidunt lobortis feugiat vivamus at augue eget arcu dictum. Quisque non tellus orci ac auctor augue. Lobortis feugiat vivamus at augue. Aliquet bibendum enim facilisis gravida. Semper auctor neque vitae tempus quam pellentesque nec. Velit scelerisque in dictum non consectetur. Id diam vel quam elementum pulvinar. Donec ac odio tempor orci dapibus. Ultrices in iaculis nunc sed augue lacus viverra vitae. Ligula ullamcorper malesuada proin libero nunc consequat interdum varius. A diam sollicitudin tempor id eu nisl nunc mi. Sit amet commodo nulla facilisi nullam vehicula ipsum a.
</p>
